.fa-sort-asc,
.fa-sort-asc {
  padding-left: 33px;
  align-content: center;
}

.dropdown .dropdown-content {
  min-width: 120px;
  line-height: 1.7em;
}
#sorting {
  padding-left: 20px;
  justify-content: space-around;
}
